* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
    background: #f4f9fd;
}

h1, h2, h3, h4, h5, p {
    padding: 15px 0;
}

h1 {
    font-size: 40px;
}

/* DROPDOWN */
.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: #33475b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    line-height: 1;
  }
  
  .dropdown-content a:hover {
      background-color: #ddd;
      border-radius: 10px;
    }
  
  .dropdown:hover .dropdown-content {
      display: block;
    }

/* DROPDOWN SOFTWARE */
  .soft-dropdown:hover .soft-content {
    display: block;
  }
  
.soft-content {
    left: 350px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 10px;
  }

  /* COLONNE */
.column {
    height: 320px;
    float: left;
    text-align: left;
    line-height: 1;
    padding: 20px;
  }
  
.col-left { 
    width: 19%;
    background: #ddd;
}

.col-right {
    width: 80%;
}

.column .link2 {
    margin-right: 130px;
}

.column .link {
    margin: 5px 60px 25px 0;
}

.column .app {
    margin: 10px 0;
}

.column a {
    color: #00acb6;
    font-size: 13px;
    line-height: 1;
}

.column h3 {
    display: inline-block;
}

.sub-col {
    width: 46%;
    margin: 2%;
}

/* HOVER */
a:hover {
    color: #fe775a;
}

.btn-orange:hover { 
    background-color: #fff;
    border: 1px solid #fe775a;
    border-radius: 5px;
}

/* UTILITIES */
.clearfix {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-M {
    width: 1000px;
    margin: 0 auto;
}


.b-right {
    border-right: 1px solid #000;
    margin: 0px 25px;
    line-height: 1;
}

a {
    text-decoration: none;
    color: #33475b;
}

h1, 
h2 {
    font-weight: bold;
    
}

p {
    line-height: 25px;
    padding: 20px 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    text-align: right;
}

.w-50 {
    width: 50%;
    display: inline-block;
}


.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

/* BUTTON */
.btn {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #fe775a;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fe775a;
    line-height: 1;
    font-size: 13px;
}

.btn-orange {
    background-color: #fe775a;
    color: #fff;
    border: 0;
}

.btn-big {
    padding: 20px;
    min-width: 170px;
    margin: 10px 0;
}

/* HEAD TOP */
.main-header {
    line-height: 80px;
}

.head-top {
    width: 100%;
    position: fixed;
    z-index: 10;
    background: #f4f9fd;
    border-bottom: 1px solid #000;
}

.main-header ul li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

/* SEARCHABAR */
.fa-search:hover {
    width: 200px;
    height: 25px;
    background: #fff;
    border: 1px solid #0aa7bf;
    color: #fe775a;
    border-radius: 10px;
    padding: 3px;
    text-align: left;
    transition: all .4;
}

.fa-search:hover::before {
    content: "Search...";
    color: gray; 
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.fa-search {
    width: 1px;
    color: #0aa7bf;
    transition:  0.5s ease-in-out;
    border: 1px solid transparent;
    padding-right: 10px;
}

/* HEAD BOTTOM */
.head-bottom {
    background:#fff;
    padding-top: 100px;
}

.head-bottom .float-right i {
    padding: 10px;
}

/* JUMBOTRON */
.jumbotron {
    position: relative;
    height: 700px;
    background-image: url(../img-hubspot/jumbotron.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.jumbotext h1 {
    font-size: 50px;
}

.banner-azure {
    position: relative;
    border-top: 3px solid #33475b;
    bottom: 110px;
    height: 105px;
    background: #afebe4;
}

/* SECTION CUBO */
.cubo {
    text-align: center;
    margin-bottom: 50px;
}

.cubo img {
    width: 300px;
}

.cubo h1 {
    font-size: 30px;
}

/* FREE HUBSPOT */
.bg-white {
    text-align: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.book .bg-white {
    height: 400px;
}

.book .w-70 ul {
    padding-top: 20px;
}

.book .w-70 p {
    max-width: 700px;
}

.bg-white .w-30 img {
    width: 170px;
    margin: 10px;
}

.libro {
    transform: translateY(40%);
}

.bg-white .w-70 {
    text-align: left;
    transform: translateY(30%);
    padding-left: 20px;
}

.border {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0,0.5);
}

.book .w-70 .border {
    width: 50%;
    position: absolute;
    top: 73%;
    left: 40%;
}

.book .w-70 ul li {
    display: inline-block;
    padding-right: 10px;
}

.fa-check-circle {
    color: #fe775a;
    padding-right: 10px;
}



/* SECTION COLUMNS */
.columns .bg-white {
    width: 30%;
    height: 760px;
    margin-top: 20px;
    padding: 30px;
}

.columns .central {
    margin: 20px 5%;
}

.columns .container {
    text-align: center;
}

.columns .bg-white img {
    padding-top: 20px;
    width: 50%;
    height: 20%;
}

.columns .bg-white .border {
    width: 100%;
}

.columns .bg-white ul li {
    text-align: left;
    list-style: none;
}

.columns .bg-white .btn {
    margin-top: 50px;
}

/* SECTION GRADIENT */
.gradient {
    height: 800px;
    background: linear-gradient(45deg,#00acb6, #00bba7);
    color: #fff;
    text-align: center;
}

.gradient h1 {
    font-size: 30px;
    padding-top: 50px;
}

.colon1 {
    width: calc(100% / 4);
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 50px;
}

.colon2 {
    width: calc(100% / 4);
    border-right: 1px solid;
    padding: 50px;
}

.colon1:nth-child(4) {
    border-right: none;
}

.colon2:last-child {
    border-right: none;
}

.gradient h2 {
    font-size: 40px;
}

/* ASSOCIATES */
.table {
    width: 100%;
    height: 820px;
    background: #fff;
    padding: 50px;
}

.classpass {
    width: 100%;
}

.top-tab .w-70 img {
    width: 130px;
    vertical-align: middle;
}

.top-tab .w-70 {
    padding: 30px;
}

.colon-top {
    width: calc(100% / 4);
    line-height: 60px;
    padding-left: 70px;
}

/* TABLE WITH WOMAN */
.bottom-tab img {
    width: 50%;
}

.bottom-tab {
    padding-top: 100px;
}

.bottom-tab .btn {
    margin: 30px 0;
}

/*FOOTER TOP  */
footer {
    height: 100vh;
    background: #32495b;
}

.foot {
    width: 21%;
    margin: 2%;
    padding-top: 20px;
    color: #fff;
}

.foot ul li:first-child {
    font-weight: bold;
    color: #fff;
}

.foot a {
    color: #dadee0;
    line-height: 40px;
}

.foot ul li {
    list-style: none;
}

.foot .btn {
    background: #dadee0;
    border: none;
    color: #32495b;
    line-height: 1.5;
    margin: 10px 0;
}

.foot .btn:hover {
    background: #fe775a;
    border: 1px solid #fe775a;
    border-radius: 5px;
    color: #fff;
}

.social li {
    display: inline-block;
    width: calc(100% / 4 - 25px);
}

/* LANGUAGES */
.lang {
    text-align: center;
    border-bottom: 1px solid #fff;
    margin: 50px auto;
}

.lang li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

.lang a {
    color: #dadee0;
}

/*FOOTER BOTTOM  */
.foot-bottom h3, 
.foot-bottom a {
    color: #dadee0;
    font-weight: bold;
}

footer a:hover {
    color: #fe775a;
}

/* FLOAT CHAT */
.chat {
    position: fixed;
    bottom: 0;
    right: 5%;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #425b76;
    color: #fff;
    font-size: 50px;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

}

.chat-top {
    position: fixed;
    bottom: 10%;
    right: 5%;
    width: 250px;
    height: 130px;
    background: #fff;
    color: #000;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
}